@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
  background: #282a2c;
  font-family: 'Poppins', sans-serif;
}

.logo {
  margin: 20px 0px 0px 40px;
  width: 170px;
}

.sectionContainer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 350px;
  background-color: #f0f5f9;
  border-radius: 10px;
  box-shadow: 2px 2px 30px black;
  box-sizing: border-box;
}

.inputConatiner {
  background-color: #f0f5f9;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  border-radius: 10px;
}

.inputField {
  margin: 5px;
  width: 100%;
  background: transparent;
  outline: none;
  border-style: none;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #f0f5f9;
  font-family: 'Poppins', sans-serif;
}

.soubInput {
  display: flex;
  width: 80%;
  background-color: #47484a;
  border-radius: 10px;
}

.fa-search {
  /* border: 2px solid red; */
  padding: 11px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.fa-map-marker-alt {
  margin: 0;
  padding: 7px;
  font-size: 1.4rem;
  color: #0eaae1;
}

.fa-search:hover {
  color: #0eaae1;
  transition: 300ms;
}

.location {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid darkseagreen;
}
.name {
  color: #282a2c;
  letter-spacing: 2px;
}

.containerWeather {
  width: 100%;
  height: 200px;
  display: flex;
}

.Meteo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid sienna;
}

.day {
  text-transform: capitalize;
  letter-spacing: 5px;
  opacity: 0.8;
  font-style: initial;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #282a2c;
}

.description {
  opacity: 0.6;
  font-style: initial;
}

.containerIcon {
  border: 2px solid hotpink;
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerMain {
  border: 2px solid sienna;
  display: flex;
  justify-content: space-evenly;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid seagreen;
  width: 50%;
}
.humidity,
.temp_min,
.temp_max,
.pressure {
  color: #282a2c;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .sectionContainer {
    height: 100%;
  }
  .containerLogo {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .logo {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
  }
  .containerWeather {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
  }

  .container {
    max-width: 400px;
    width: 90%;
    height: 500px;
    opacity: 1;
  }

  .containerHumidity {
    display: none;
  }

  .icon {
    margin: 0;
    padding: 10px;
    width: 150px;
  }

  .containerIcon {
    justify-content: center;
  }

  .Meteo {
    width: 100%;
  }
}
